<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
</head>
<body>
    {{> header}}
    <p>Using hbs as the default view engine requires just one line of code in your app setup. This will render .hbs files when res.render is called.</p>
    {{> footer}}
</body>
</html>